<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="NGinnMessageBus.ConnectionString.exch" value="Data Source=(local);Initial Catalog=nginn;User Id=nginn;Password=PASS" />
    <add key="NGinnMessageBus.Endpoint" value="sql://exch/MQ_ExchangeTesting"/>
    <add key="NGinnMessageBus.HttpReceiver" value="http://+:9017/"/>
    <add key="EWSUrl" value="http://vmex03/EWS/Exchange.asmx"/>
    <add key="EWSUser" value="rafalg"/>
    <add key="EWSPassword" value="1qazXSW@"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
