<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration"
     type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <appSettings>
    <add key="NGinnMessageBus.ConnectionString.exch" value="Data Source=(local);Initial Catalog=nginn;User Id=nginn;Password=PASS" />
    <add key="NGinnMessageBus.Endpoint" value="sql://exch/MQ_ExchangeIntegration"/>
    <add key="NGinnMessageBus.HttpReceiver" value="http://192.168.21.1:9017/"/>
    <add key="EWSUrl" value="http://vmex03/EWS/Exchange.asmx"/>
    <add key="EWSUser" value="atmosfera"/>
    <add key="EWSPassword" value="1qazXSW@"/>
    <add key="WcfPushNotificationReceiverUrl" value="http://192.168.21.1:9018/PushNotification" />
  </appSettings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider, NHibernate</property>
      <property name="connection.connection_string">Data Source=(local);Initial Catalog=nginn;User Id=nginn;Password=PASS</property>
      <property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
    </session-factory>
  </hibernate-configuration>
  <system.serviceModel>
      <services>
        <service name="ExchangeIntegration.Service.WcfExchangePushNotificationReceiver" behaviorConfiguration="NotificationBehavior">
          <endpoint address="" contract="Microsoft.Exchange.EWSDataTypes.NotificationServicePortType" binding="basicHttpBinding" bindingName="NotificationServiceBinding" bindingNamespace="http://schemas.microsoft.com/exchange/services/2006/messages"/>
        </service>
      </services>

      <behaviors>
        <serviceBehaviors>
          <behavior name="NotificationBehavior">
            <!-- Add the following element to your service behavior configuration. -->
            <serviceMetadata httpGetEnabled="true"/>


          </behavior>
        </serviceBehaviors>
      </behaviors>


    </system.serviceModel>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
