<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoRefresh="true" internalLogLevel="Debug" internalLogFile="../logs/log13.log" throwExceptions="true"> 
    <appenders async="false">
        <appender name="file" type="File" fileName="${basedir}/../logs/ExchangeIntegration.${shortdate}.log" />
      <appender name="con" type="Console" />
    </appenders>
    <rules>
     	<logger name="*" minlevel="Info" appendTo="file, con" />
    </rules>
</nlog> 
